#player_1_hand{
    position: absolute;
    margin-left: 370px;
    margin-top: 355px;
}
#player_1_score{
	position: absolute;
	left: 450px;
	top: 330px;
	color: #FFFFFF;
}

#player_2_hand{
    margin-left: 370px;
    top: 30px;
    position: absolute;
}
#player_2_score{
	position: absolute;
	left: 410px;
	top: 5px;
	color: #FFFFFF;
}

#player_3_hand{
    -webkit-transform: rotate(270deg);
    position: absolute;
    margin-top: 190px;
    margin-left: 30px;
}
#player_3_score{
	position: absolute;
	-webkit-transform: rotate(270deg);
	top: 255px;
	left: 35px;
	color: #FFFFFF;
}

#player_4_hand{
	-webkit-transform: rotate(270deg);
    margin-top: 190px;
    position: absolute;
    margin-left: 740px;
}
#player_4_score{
	position: absolute;
	-webkit-transform: rotate(270deg);
	top: 255px;
	left: 900px;
	color: #FFFFFF;
}

#deck_and_discard{
    margin-left: 400px;
    margin-top: 190px;
    position: absolute;
}

.discard_pile{
	height: 98px;
	width: 72px;
	display: inline-block;
    margin-left: 25px;
}

.player_menu{
	position: absolute;
	top: 480px;
	left:15%;
}
#wilds_display{
    color: white;
    position: absolute;
    left: 545px;
    top: 190px;
}