.menu li{
	list-style: none;
    cursor: pointer;
}
.home_screen .menu li.player_btn{
    display: block;
   	margin: 40px 0;
	padding-top: 10px;
}

.player_btn{
	display: inline-block;
	width: 175px;
	height: 30px;
	border-radius: 10px;
    margin: 0 5px;
	text-align: center;
	background-color: blue;
	-webkit-box-shadow: 3px 4px 0 0 #1564ad;
    box-shadow: 3px 4px 0 0 #1564ad;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	cursor: pointer;
}
.player_btn:hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background-color:#378de5;	
}
.player_btn:active{
	position:relative;
 	top:1px;	
}

.switch{
	width: 100%;
	margin: 10px auto;
	float: left;
}

.switch span{
	color: #DDDDDD;
    float: left;
    margin-top: 13px;
    font-size: 20px;
    margin-left: 5px;
}

.switch label{
	float: right;
	margin-right: 5px;
}

#sort_type_toggle_container{
	display: none;
}

.sort_type_header{
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
}

.sort_type_toggle_container .value_span{
	margin-left: 0px;
}

.sort_type_toggle_container label{
	float: left;
	margin: 0 10px;
}

.toggle{
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}

.toggle + label{
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
}

input.toggle + label{
    padding: 2px;
    width: 117px;
    height: 40px;
    background-color: #dddddd;
    border-radius: 60px;
}

input.toggle + label:before,
input.toggle + label:after{
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	content: "";
}

input.toggle + label:before{
	right: 1px;
	background-color: #da635d;
	border-radius: 60px;
	transition: background 0.4s;
}

input.toggle + label:after{
	width: 58px;
	background-color: #fff;
	border-radius: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: margin 0.4s;
}

input.toggle:checked + label:before{
	background-color: #8ce;
}

input.toggle:checked + label:after{
	margin-left: 60px;
}

